<a href="https://colab.research.google.com/github/hemantdhiman92/Teach-tech/blob/master/First_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#introduction to python variable

In [0]:
a = 10
b = 12
print('a+b: ',a+b,'a-b: ',a-b)

a+b:  22 a-b:  -2

#types of variable in python

In [3]:
a = 1
print(type(a))
a = 1.1
print(type(a))
a = 1+5j
print(type(a))
a = 'String'
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

#String indexing

In [4]:
a = 'Hemant Dhiman'
print(a[0]) #  index 0
print(a[1])
print(a[2])
print(a[3])
print('Negative indexing')
print(a[-1]) #  from last
print(a[-2]) # index  -2

H
e
m
a
Negative indexing
n
a

# list in python

In [7]:
list_1 = list()
print('type: ',type(list_1))
print(list_1)
list_1.append(1)
list_1.append('2')
list_1.append(1.2)
list_1.append(1+7j)
print(list_1)

type:  <class 'list'>
[]
[1, '2', 1.2, (1+7j)]

#indexing of list

In [9]:
list_1 = [1,2,3,4,5,6]

print(list_1[0:4]) # excluding 4

[1, 2, 3, 4]

##adding to lists together

In [10]:
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)
d = 'String'
c.append(d)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 'String']