<a href="https://colab.research.google.com/github/hemantdhiman92/Teach-tech/blob/master/First_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#introduction to python variable

In [0]:
a = 10
b = 12
print('a+b: ',a+b,'a-b: ',a-b)

a+b:  22 a-b:  -2

#types of variable in python

In [3]:
a = 1
print(type(a))
a = 1.1
print(type(a))
a = 1+5j
print(type(a))
a = 'String'
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

#String indexing

In [4]:
a = 'Hemant Dhiman'
print(a[0]) #  index 0
print(a[1])
print(a[2])
print(a[3])
print('Negative indexing')
print(a[-1]) #  from last
print(a[-2]) # index  -2

H
e
m
a
Negative indexing
n
a

# list in python

In [7]:
list_1 = list()
print('type: ',type(list_1))
print(list_1)
list_1.append(1)
list_1.append('2')
list_1.append(1.2)
list_1.append(1+7j)
print(list_1)

type:  <class 'list'>
[]
[1, '2', 1.2, (1+7j)]

#indexing of list

In [9]:
list_1 = [1,2,3,4,5,6]

print(list_1[0:4]) # excluding 4

[1, 2, 3, 4]

##adding to lists together

In [10]:
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)
d = 'String'
c.append(d)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 'String']

#list slicing

In [13]:
a = ['Banana','Milk','carrot']
print(a)
# replacing index 2 value
a[2] = 'Tomato'
print(a)
# adding
a.append('Hello')
print(a)
#slicing
print(a[1:3]) # extracting the sub list

['Banana', 'Milk', 'carrot']
['Banana', 'Milk', 'Tomato']
['Banana', 'Milk', 'Tomato', 'Hello']
['Milk', 'Tomato']

# Dicstionary in python

In [24]:
dict_1 = dict()
print('Type: ',type(dict_1))
dict_1['Milk'] = '1 Ltr'
dict_1['Banana'] = 12
dict_1['Carrot'] = 1
print(dict_1,'\n')
for i in dict_1:
  print(i,'=',dict_1[i])

print('Length of dict_1: ',len(dict_1))

#modification of dicstionary
print('After Modification')
dict_1['Carrot'] = 10
print(dict_1)

# update method
dict_1.update(Apple = 4)
print('After update method')
print(dict_1)

print('keys() and values() method')
# keys() method
print(dict_1.keys())
# values() method
print(dict_1.values())

Type:  <class 'dict'>
{'Milk': '1 Ltr', 'Banana': 12, 'Carrot': 1}

Milk = 1 Ltr
Banana = 12
Carrot = 1
Length of dict_1:  3
After Modification
{'Milk': '1 Ltr', 'Banana': 12, 'Carrot': 10}
After update method
{'Milk': '1 Ltr', 'Banana': 12, 'Carrot': 10, 'Apple': 4}
keys() and values() method
dict_keys(['Milk', 'Banana', 'Carrot', 'Apple'])
dict_values(['1 Ltr', 12, 10, 4])

# conditionals in python
###if
###if else
###if elif else

In [30]:
i = 4 #  initialising i with positive integer
if i == 0:
  print('Zero')
elif i < 0:
    print('Negative number: ',i)
elif i > 0:
    print('Positive number: ',i)
else:
    print('Wrong Number!')

Positive number:  4

In [32]:
list_1 = {'Banana':1, 'Carrot':3, 'Tomato':3}
if 'Banana' in list_1:
  list_1['Banana'] = list_1['Banana'] + 5
else:
    print('Banana is not in dict')
print(list_1)

{'Banana': 6, 'Carrot': 3, 'Tomato': 3}

# Loops in Python
###for loop
###while loop

In [37]:
# for loop to print 0 to 10 number
print('For loop')
for i in range(0,11):
  print(i,end=',')
print('\nWhile loop')
# while loop
i = 0
while(i<=10):
  print(i,end=',')
  i += 1

For loop
0,1,2,3,4,5,6,7,8,9,10,
While loop
0,1,2,3,4,5,6,7,8,9,10,

In [49]:
#list all integer starting from 0 such that the sum of their squars is 
#less than 20
i = 0 
sum = 0
while(sum < 20):
  print(i)
  i += 1
  sum += i**2

0
1
2
3

#functions in python

In [56]:
# find the greatest of two number
def findLargest(a,b):
  if a > b:
    return a
  else:
    return b

print(findLargest(4,2))

print(findLargest(5,5.0))

4
5.0

In [55]:
# wap a function find even and odd
def evenOrodd(a):
  if a%2 == 0:
    return 'Even'
  else:
    return 'Odd'

for i in range(0,11):
  print('Number:',i,evenOrodd(i))

Number: 0 Even
Number: 1 Odd
Number: 2 Even
Number: 3 Odd
Number: 4 Even
Number: 5 Odd
Number: 6 Even
Number: 7 Odd
Number: 8 Even
Number: 9 Odd
Number: 10 Even

In [64]:
# ndefine a function to add key and value in dicstionary, if it does't exist ,
# otherwise inc

dict_1 = {}
def addItem(d,k,v=1):
  if k in d:
    d[k] = v+1
  else:
    d[k] = v
  return d

print(addItem(dict_1,'Hello'))
print(addItem(dict_1,'World'))
print(addItem(dict_1,'Python'))
print(addItem(dict_1,'C#'))
print(addItem(dict_1,'Java'))

#question 2
dict_1 = {} # empty dictionary
print(dict_1)
def addItemDict(dict_,key,value):
  if len(dict_) >= 0:
    dict_[key] = value

addItemDict(dict_1,'Hello',0)
addItemDict(dict_1,'World',1)
addItemDict(dict_1,1,'Something')
addItemDict(dict_1,'Value',True)

print(dict_1)

{'Hello': 1}
{'Hello': 1, 'World': 1}
{'Hello': 1, 'World': 1, 'Python': 1}
{'Hello': 1, 'World': 1, 'Python': 1, 'C#': 1}
{'Hello': 1, 'World': 1, 'Python': 1, 'C#': 1, 'Java': 1}
{}
{'Hello': 0, 'World': 1, 1: 'Something', 'Value': True}

#classes in python

In [67]:
class First_Lab:
  def __init__(self):
    self.dict_1 = dict() #  Empty dictionary

object = First_Lab() # instantiate class
print('Empty Dictionary:',object.dict_1)

Empty Dictionary: {}